.about-us {
  width: 100%;
  height: 666px;
  background-image: url(/assets/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.info-text {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  font-style: bold;
  font-family: 'Oswald';
  color: white;
  margin-top: 84px;
}
.play-button {
  width: 150px;
  height: 150px;
  background-color: #39c2d7;
  border: none;
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 30px;
}
#section-info {
  color: white;
  font-size: 24px;
  margin-top: 70px;
  font-family: 'Source Sans Pro';
}
.footer {
  width: 100%;
  height: 170px;
  background: #464547;
  font-family: 'Source Sans Pro';
}
.footer-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contacts {
  color: white;
  opacity: 40%;
  margin-left: 80px;
}
#contacts {
  color: white;
  opacity: 40%;
}

.projects {
  margin-left: 121px;
  color: white;
  margin-top: 20px;
  letter-spacing: 0.2em;
}
