body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
.logo-container {
  width: 100%;
  height: 822px;
  background-image: url('/assets/Desktop_Backgrounds_1920x1200_6\ 3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  padding-top: 270px;
  padding-left: 760px;
}
.headline {
  text-align: center;
  color: white;
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;
}
.info {
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 400;
  color: white;
  opacity: 70%;
  letter-spacing: 1px;
}
#info {
  color: #666666;
  margin-top: 40px;
}
.section-headline {
  width: 100%;
  height: 800px;
  background-color: #eeeeee;
}
.section-headline-info {
  color: #464547;
  font-weight: 900;
  font-size: 48px;
  font-style: bold;
  letter-spacing: 2px;
  text-align: center;
  line-height: 64px;
  margin-top: 87px;
  font-family: 'Oswald';
}
.section-info {
  text-align: center;
  width: 70%;
  height: 194px;
  margin-left: 240px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 400;
  margin-top: 48px;
}
.read-button {
  background-color: #55c2d8;
  color: white;
  height: 36px;
  width: 115px;
  border-radius: 18px;
  border: none;
  font-size: 14px;
  align-items: center;
  margin-left: 735px;
}
.btn-style {
  text-decoration: none;
  color: white;
}
